ALTER TABLE contract_analyses ADD COLUMN IF NOT EXISTS analysis_method TEXT;
ALTER TABLE contract_analyses ADD COLUMN IF NOT EXISTS status TEXT;
ALTER TABLE contract_analyses ADD COLUMN IF NOT EXISTS completed_at TIMESTAMP WITH TIME ZONE;
ALTER TABLE contract_analyses ADD COLUMN IF NOT EXISTS analysis_time_ms INTEGER;
